@import 'helper/vars.scss';
@import 'helper/etc.scss';

@import 'module/faq.scss';
@import 'module/hero.scss';
@import 'module/cta.scss';
@import 'module/content.scss';
@import 'module/resend-widget.scss';

.element-atom,.interactive-atom{
	margin: 0 !important
}

.l-footer {
	display:block!important;
	position:relative;
	.footer__primary {
		overflow: visible;
		.subnav {
			display: none;
		}
	}
}

.oi {
	color: $colour-text;
	line-height: 1.25;

	/*fix for guardian app webview*/
	* {
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
		-webkit-margin-start: 0;
		-webkit-margin-end: 0;
	}
}

.oi-wrap .gs-container {
	padding: 0 $gs-gutter / 2;
	@media (min-width: $mq-tablet){
		padding: 0 $gs-gutter;
	}
	box-sizing: border-box;
}

.oi-a {
	color: inherit;
	text-decoration: underline;
	text-decoration-color: #999;
	&:hover {
		color: #000;
		text-decoration-color: currentColor;
	}
}
