@import 'helper/vars.scss';
@import 'helper/etc.scss';

@import 'module/faq.scss';
@import 'module/cta.scss';
@import 'module/content.scss';
@import 'module/resend-widget.scss';

.element-atom,.interactive-atom{
	margin:0 !important
}

.l-footer{
	display:block!important;
	position:relative;
}

.oi {
	color: $colour-text;
	line-height: 1.25;
}

.oi-wrap {
	padding: 0 $gs-gutter / 3;
}

.oi-hero-copy {
	width: 30em;
	max-width: 100%;
}

.oi-hero {
	background: $colour-gu-black;
	padding-top: $gs-column-width * 3;
	padding-bottom: $gs-gutter;
}
