<details class="oi-faq">
	<summary class="oi-faq__header">
		<figure irrelevant>
			{{> svg-plus}}
			{{> svg-minus}}
		</figure>
		<h3>{{title}}</h3>
	</summary>
	<div class="oi-faq__details">
		{{#body}}
			<p>{{{.}}}</p>
		{{/body}}
	</div>
</details>
