<div class="oi-hero">
	<div class="oi-hero__wrapper gs-container">
		<div class="oi-hero__subwrapper">
			<h1 class="oi-hero__title"><span class="u-h">Missing Something?</span></h1>
			<h2 class="oi-hero__subtitle">If you’ve stopped receiving emails from The&nbsp;Guardian, you can reactivate them here</h2>
		</div>
	</div>
</div>
