<div class="oi-hero">
	<div class="oi-hero__wrapper">
		<h1 class="oi-hero__title"><span class="u-h">Stay with us</span></h1>
		<figure class="oi-hero__bg"></figure>
		<svg width="1200" height="410" viewBox="-600 -205 1200 410"></svg>
	</div>
</div>
