@font-face {
  font-family: "Guardian Egyptian Web";
  src:
    url("/etc/v0/ascii/GuardianHeadline/GHGuardianHeadline-Medium.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Guardian Egyptian Web";
  src:
    url("/etc/v0/ascii/GuardianHeadline/GHGuardianHeadline-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Guardian Egyptian Web";
  src:
    url("/etc/v0/ascii/GuardianHeadline/GHGuardianHeadline-Black.woff") format("woff");
  font-weight: 900;
}
@font-face {
  font-family: "Guardian Egyptian Web";
  src:
    url("/etc/v0/ascii/GuardianHeadline/GHGuardianHeadline-Bold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Guardian Egyptian Web";
  src:
    url("/etc/v0/ascii/GuardianHeadline/GHGuardianHeadline-Semibold.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Guardian Text Egyptian Web";
  src:
    url("/etc/v0/ascii/GuardianTextEgyptianWeb/GuardianTextEgyptianWeb-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Guardian Text Sans Web";
  src:
    url("/etc/v0/all/GuardianTextSansWeb/GuardianTextSansWeb-Regular.woff") format("woff");
  font-weight: 400;
}
