// Helpers
// =============================================================================
@function gs-span($n-columns) {
	@return $n-columns * $gs-column-width + $gs-gutter * ($n-columns - 1);
}


@mixin u-h {
	border: 0 !important;
	clip: rect(0 0 0 0) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
}

.u-h {
	@include u-h;
}

@function multiline-height($number) {
	@return $number * 4 - 3;
}

@mixin multiline($number, $color, $position: bottom) {

	$bgSize: multiline-height($number);

	background-image: repeating-linear-gradient(to bottom, $color, $color 1px, transparent 1px, transparent 4px);
	background-repeat: repeat-x;
	background-position: $position;
	background-size: (1px #{$bgSize}px);
}
