$colour-purple: #9F1177;
$colour-cream: #F0EADD;
$colour-yellow: #FFE300;
$colour-gu-black: #121212;

$colour-error: #e00000;

$colour-text: $colour-gu-black;

$font-egyptian: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
$font-serif: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
$font-text: "Guardian Text Egyptian Web",Georgia,serif;

$font-size-title: 1.5em;
$font-size-small: .875em;

$paragraph-spacing: 1.5em;

$mq-desktop: 42em;
