<div class="interactive-wrapper oi">


	<div class="oi-hero oi-wrap">
		<div class="gs-container">
			<div class="oi-hero__wrapper">
				<div class="oi-hero__title">
					<h1>Stay with us</h1>
				</div>
				<div class="oi-hero__bg-container">
					{{> svg-hero}}
				</div>
			</div>
		</div>
	</div>


	<div class="oi-content oi-wrap oi-content--cream">
		<div class="gs-container">
			<div class="oi-content__header">
				Don't miss out. Stay Opted in
			</div>
			<div class="oi-content__body">
				<div class="oi-content__body-wrap">
					<div class="oi-content-cta">
						<div class="oi-content-cta__icon">
							{{> svg-plus}}
						</div>
						<div class="oi-content-cta__content">
							{{> cta}}
						</div>
					</div>
					<p>Your support is vital in helping the Guardian do the most important journalism of all: that which takes time and effort. Hundreds of thousands of readers now support the Guardian's independent, quality and investigative journalism.</p>
					<p>Your support is vital in helping the Guardian do the most important journalism of all: that which takes time and effort. Hundreds of thousands of readers now support the Guardian's independent, quality and investigative journalism.</p>
					<p>Your support is vital in helping the Guardian do the most important journalism of all: that which takes time and effort. Hundreds of thousands of readers now support the Guardian's independent, quality and investigative journalism.</p>
					<p>Your support is vital in helping the Guardian do the most important journalism of all: that which takes time and effort. Hundreds of thousands of readers now support the Guardian's independent, quality and investigative journalism.</p>
					<p>Your support is vital in helping the Guardian do the most important journalism of all: that which takes time and effort. Hundreds of thousands of readers now support the Guardian's independent, quality and investigative journalism.</p>
					<p>Your support is vital in helping the Guardian do the most important journalism of all: that which takes time and effort. Hundreds of thousands of readers now support the Guardian's independent, quality and investigative journalism.</p>
					<p>Your support is vital in helping the Guardian do the most important journalism of all: that which takes time and effort. Hundreds of thousands of readers now support the Guardian's independent, quality and investigative journalism.</p>
					<p>Your support is vital in helping the Guardian do the most important journalism of all: that which takes time and effort. Hundreds of thousands of readers now support the Guardian's independent, quality and investigative journalism.</p>
				</div>
			</div>
		</div>
	</div>


	<div class="oi-content oi-wrap oi-content--purple">
		<div class="gs-container">
			<div class="oi-content__header">
				Don't miss out. Stay Opted in
			</div>
			<div class="oi-content__body">
				<div class="oi-content__body-wrap">
					<div class="oi-faq__wrap">
						{{#faqs}}
							{{> faq}}
						{{/faqs}}
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="oi-content oi-wrap oi-content--black">
		<div class="gs-container">
			<div class="oi-content__header"></div>
			<div class="oi-content__body">
				<div class="oi-content__body-wrap">
					<p>Support us.</p>
					<div class="oi-content-cta">
						<div class="oi-content-cta__icon">
							{{> svg-plus}}
						</div>
						<div class="oi-content-cta__content">
							{{> cta}}
						</div>
					</div>
					<p>Get a new link.</p>
					<div class="oi-content-cta">
						<div class="oi-content-cta__icon">
							{{> svg-plus}}
						</div>
						<div class="oi-content-cta__content">
							<form class="oi-resend-widget">
								<div class="oi-resend-widget__hotdog">
									<input required type="email" class="oi-cta oi-cta--secondary" name="email" placeholder="your email"/>
									<button class="oi-cta oi-cta--secondary">
										Send me a link
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>
