<div class="interactive-wrapper oi">

	{{> hero}}

	<article>
		<div class="oi-content oi-wrap oi-content--intro oi-content--with-ml">
			<div class="gs-container">
			<h2 class="oi-content__header">
					What is changing?
				</h2>
				<div class="oi-content__body">
					<div class="oi-content__body-wrap">
						<p>The law is changing on how we communicate with you.</p>
						<p>If you are no longer receiving our editorial newsletters or our regular member and subscriber emails, you can opt in again. We’ve made doing so as easy as possible: just submit your email address below and we’ll send you a link to update your preferences.</p>
						{{ > form}}
					</div>
				</div>
			</div>
		</div>
	</article>


	<section class="oi-content oi-wrap oi-content--faq">
		<div class="gs-container">
			<h2 class="oi-content__header">
				Frequently
				Asked
				Questions
			</h2>
			<div class="oi-content__body">
				<div class="oi-content__body-wrap oi-content__body-wrap--l">
					<div class="oi-faq__wrap">
						{{#faqs}}
							{{> faq}}
						{{/faqs}}
					</div>
				</div>
			</div>
		</div>
	</section>


	<footer class="oi-content oi-wrap oi-content--outro">
		<div class="gs-container">
			<div class="oi-content__header"></div>
			<div class="oi-content__body">
				<div class="oi-content__body-wrap oi-content__body-wrap--lined">
					<h2 class="oi-content__header">
						Opt in now and stay with us
					</h2>
				</div>
				<div class="oi-content__body-wrap">
					<p>Just give us your email address and we'll send you a link to update your preferences.</p>
					{{ > form}}
				</div>
			</div>
		</div>
	</footer>


</div>
