<div class="interactive-wrapper oi">

	{{> hero}}

	<article>
		<div class="oi-content oi-wrap oi-content--intro oi-content--with-ml">
			<div class="gs-container">
				<h2 class="oi-content__header">
					Let’s talk on your terms
				</h2>
				<div class="oi-content__body">
					<div class="oi-content__body-wrap">
						<p>You may well have heard about The General Data Protection Regulation (or GDPR). It’s a new EU law on data protection, designed to give you more control over how companies collect and use your personal data. And it also affects your relationship with The Guardian.</p>

						<p>If we currently send you any marketing emails, from editorial newsletters to information about our latest masterclasses and more, you’ll need to opt in to continue receiving them. We’ve made doing so as easy as possible. Just let us know what you’d like to hear about before 30 April.</p>

						<a href="{{props.href}}" data-link-name="optin : cta : top" class="oi-content-cta oi-cta oi-cta--primary">
							Opt in now
							{{> svg-arrow}}
						</a>

					</div>
				</div>
			</div>
		</div>
	</article>


	<section class="oi-content oi-wrap oi-content--faq">
		<div class="gs-container">
			<h2 class="oi-content__header">
				Frequently
				Asked
				Questions
			</h2>
			<div class="oi-content__body">
				<div class="oi-content__body-wrap">
					<div class="oi-faq__wrap">
						{{#faqs}}
							{{> faq}}
						{{/faqs}}
					</div>
				</div>
			</div>
		</div>
	</section>


	<footer class="oi-content oi-wrap oi-content--outro">
		<div class="gs-container">
			<div class="oi-content__header"></div>
			<div class="oi-content__body">
				<div class="oi-content__body-wrap oi-content__body-wrap--lined">
					<h2 class="oi-content__header">
						Let’s talk on your terms, opt in now and stay with us.
					</h2>
				</div>
				<div class="oi-content__body-wrap">
					<a href="{{props.href}}" data-link-name="optin : cta : bottom" class="oi-content-cta oi-cta oi-cta--primary">
						Opt in now
						{{> svg-arrow}}
					</a>
				</div>
			</div>
		</div>
	</footer>


</div>
