.oi-content {
	overflow: hidden;
}

@function get-text-color($color) {
	@if (lightness($color) > 50) {
		@return #333;
	} @else {
		@return #ffffff;
	}
}

@mixin oi-content-tone($bg, $text, $lines:$text) {
	background: $bg;
	color: get-text-color($bg);
	.oi-content__body,
	.oi-content-cta__icon {
		border-color: transparentize($lines, .5);
	}
	.oi-content__header {
		color: $text;
	}
	.oi-content-cta__icon {
		background: $lines;
		color: $bg;
	}
}

.oi-content--intro {
	@include oi-content-tone($colour-cream, $colour-cream-dark, $colour-green-dark)
}

.oi-content--faq {
	@include oi-content-tone($colour-neutral-1, $colour-blue-dark, $colour-blue)
}

.oi-content--outro {
	@include oi-content-tone(#fff, currentColor, $colour-green-dark)
}

.oi-content__body {
	padding-bottom: $paragraph-spacing * 2;
	.oi-content__body-wrap > * {
		margin-bottom: $paragraph-spacing;
	}
}

.oi-content__header {
	font-family: $font-egyptian;
	font-size: $font-size-title;
	line-height: 1;
	padding: $gs-gutter/4 0 $gs-gutter;
	font-weight: 700;
}

@media (min-width: $mq-collapse-columns) {
	.oi-content .gs-container {
		display: flex;
		.oi-content__header {
			width: gs-span(3);
			flex: 0 0 auto;
			padding-right: $gs-gutter;
			padding-left: 0;
		}
		.oi-content__body {
			padding-top: $gs-gutter / 2;
			padding-left: $gs-gutter;
			flex: 1 1 0;
			border-left-style: solid;
			border-left-width: 1px;
			.oi-content__body-wrap {
				max-width: gs-span(8);
			}
			.oi-content-cta {
				margin-left: ($size-button-height/4 + $gs-gutter) * -1;
			}
		}
	}
}

.oi-content-cta {
	@media (min-width: $mq-collapse-columns) {
		display: flex;
		.oi-content-cta__icon {
			flex: 0 0 auto;
			margin-right: $gs-baseline;
			margin-top: ($size-button-height - ($size-button-height/2))/2;
		}
		.oi-content-cta__content {
			width: 100%;
		}
	}
}
.oi-content-cta__icon {
	display: none;
	svg * {
		fill: currentColor;
	}
	svg {
		height: 50%;
		width: 50%;
	}
	@media (min-width: $mq-collapse-columns) {
		height: $size-button-height/2;
		width: $size-button-height/2;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
	}
}
