$colour-content-border: $colour-neutral-2;

.oi-content {
	overflow: hidden;
	border-top: 1px solid $colour-content-border;
}

@function get-text-color($color) {
	@if (lightness($color) > 50) {
		@return #333;
	} @else {
		@return #ffffff;
	}
}

@mixin oi-content-tone($bg, $text, $border: $text) {
	background: $bg;
	color: get-text-color($bg);
	.oi-content__header {
		color: $text;
	}
	.oi-content__body-wrap {
		border-color: $border;
	}
}

.oi-content--intro {
	@include oi-content-tone(#fff, $colour-blue)
}

.oi-content--faq {
	@include oi-content-tone($colour-neutral-1, $colour-green)
}

.oi-content--outro {
	@include oi-content-tone(#fff, $colour-blue-dark)
}

.oi-content--with-ml {
	@include multiline(4, $colour-neutral-2, top)
	padding-top: multiline-height(4);
	border-top: 0;

}

.oi-content__body {
	padding-bottom: $paragraph-spacing * 2;
	.oi-content__body-wrap > * {
		margin-bottom: $paragraph-spacing;
	}
	p strong {
		padding: .25em .125em;
	}
}

.oi-content__header {
	font-family: $font-egyptian;
	font-size: $font-size-title-phone;
	line-height: .95;
	font-weight: 700;
	letter-spacing: -.01em;
	@media (max-width: $mq-collapse-columns) {
		border-left-style: solid;
		border-left-width: 1px;
		padding-left: $gs-gutter / 3;
		padding-top: $gs-gutter/4;
		max-width: gs-span(2.5);
		font-weight: 700;
		margin-bottom: $gs-gutter;
		&:empty {
			display: none;
		}
	}
}

@media (min-width: $mq-collapse-columns) {
	.oi-content .gs-container {
		display: flex;
		> .oi-content__header {
			width: gs-span(3);
			flex: 0 0 auto;
			padding-right: $gs-gutter;
			padding-left: 0;
			font-size: $font-size-title;
			position: relative;
			display: block;
			z-index: 9;
			margin-bottom: $gs-gutter;
			padding-top: $gs-gutter / 4;
			&:after {
				content: '';
				position: absolute;
				top: 0;
				height: 2em;
				right: 0;
				background: $colour-content-border;
				display: block;
				width: 1px;
			}
		}
		> .oi-content__body {
			flex: 1 1 0;
			z-index: 10;
			.oi-content__header {
				font-size: $font-size-title-xl;
				font-weight: 900;
			}
			.oi-content__body-wrap {
				max-width: gs-span(6);
				padding-top: $gs-gutter / 2;
				padding-left: $gs-gutter / 2;
				margin-left: -1px;
				&.oi-content__body-wrap--lined {
					border-left-style: solid;
					border-left-width: 1px;
				}
			}
			.oi-content-cta {
				margin-left: $gs-gutter * -1;
			}
		}
	}
}
