.oi-cta {
	display: block;
	padding: 0 $gs-gutter;
	font-size: $font-size-small;
	font-family: $font-serif;
	border-radius: 99999em;
	transition: .125s;
	font-weight: 800;
	appearance: none;
	text-decoration: none;
	border: 1px solid transparent;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: $size-button-height;
	box-sizing: border-box;
	contain: layout style paint;
	svg {
		vertical-align: middle;
		transform: scale(1.125) translateX(.5em);
		transition: .125s;
		* {
			fill: currentColor;
		}
	}
	&:focus {
		outline: none;
	}
	&:hover, &:focus {
		text-decoration: none;
		svg {
			transform: scale(1.125) translateX(.75em);
		}
	}
	&.oi-cta--paragraph {
		color: $colour-text;
		pointer-events: none;
		cursor: default;
	}
	&.oi-cta--primary {
		color: #fff;
		background: $colour-green-dark;
		border-color: $colour-green;
		&:hover, &:focus {
			border-color: darken($colour-green-dark,5%);
			background: darken($colour-green-dark,5%);
		}
	}
	&.oi-cta--secondary {
		background: transparent;
		color: $colour-text;
		border-color: currentColor;
		&:hover, &:focus {
			background: $colour-text;
			color: #fff;
			border-color: transparent;
		}
	}
	&.oi-cta--secondary--faq {
		@extend .oi-cta.oi-cta--secondary;
		color: $colour-faq-alt;
		&:hover, &:focus {
			background: $colour-faq-alt;
		}
	}

	&.oi-cta--text-cream {
		color: $colour-cream;
	}
}

input.oi-cta--secondary {
	&:hover, &:focus {
		background: #fff!important;
		border-color: currentColor!important;
		color: $colour-text!important;
	}
}
