$expandy-size: 2.75rem;
$colour-faq: $colour-purple-dark;

.oi-faq__wrap {
	.oi-faq {
		margin-bottom: $gs-baseline / 1.5;
	}
}

.oi-faq {
	summary {
		list-style: none;
		&:focus {
			outline: 0;
		}
	}
	summary::-webkit-details-marker {
		display:none;
	}
	&[open] {
		@include multiline(4, $colour-purple-dark)
		background-color: #fff;
		border-color: $colour-purple;
	}
	background: $colour-purple;
	border-top: 1px solid $colour-faq;
}

.oi-faq__header,
.oi-faq__details {
	padding:
		$gs-baseline/2
		$gs-baseline/2
		$gs-baseline
		$gs-baseline/2 + $expandy-size + $gs-baseline/1.5
}

.oi-faq__header {
	font-size: $font-size-subtitle;
	font-family: $font-egyptian;
	line-height: 1.2;
	font-weight: bold;
	position: relative;
	color: $colour-faq;
	min-height: $expandy-size;
	cursor: pointer;
	max-width: gs-span(3);
	&:hover, &:focus {
		text-decoration: underline;
	}
	i {
		content: '';
		width: $expandy-size;
		height: $expandy-size;
		position: absolute;
		top: $gs-baseline/2;
		left: $gs-baseline/2;
		border-radius: 100%;
		border: 1px solid $colour-faq;
		display: flex;
		align-items: center;
		justify-content: center;
		svg {
			transform: scale(1.25);
		}
	}
	.oi-faq & i {
		background-color: $colour-faq;
		svg * {
			fill: #fff;
		}
	}
	.oi-faq[open] & i {
		background-color: transparent;
		svg * {
			fill: $colour-faq;
		}
	}
}

.oi-faq__details {
	padding-top: 0;
	padding-bottom: $paragraph-spacing/2;
	color: $colour-text;
	& > * {
		margin-bottom: $paragraph-spacing;
	}
}

.oi-faq__footer {
	.oi-cta {
		margin-bottom: $gs-gutter/2;
		height: $gs-baseline * 3.5;
	}
	.oi-cta--paragraph {
		padding-left: 0;;
	}
	@media (min-width: $mq-desktop) {
		display: flex;
		align-items: flex-start;
		.oi-cta {
			margin-bottom: 0;
			margin-right: $gs-gutter/2;
		}
	}
}
