$expandy-size: 2.75rem;

.oi-faq__wrap {
	.oi-faq {
		margin-bottom: $gs-baseline / 2;
	}
}

.oi-faq {
	position: relative;
	summary {
		list-style: none;
		&:focus {
			outline: 0;
		}
	}
	summary::-webkit-details-marker {
		display:none;
	}
	&[open] {
		@include multiline(4, $colour-neutral-2)
		border-color: $colour-faq-alt;
	}
	background-color: #fff;
	border-top: 1px solid $colour-neutral-2;
}

.oi-faq__header,
.oi-faq__details {
	padding:
		$gs-baseline/2
		$gs-baseline/2
		$gs-baseline
		$gs-baseline/2 + $expandy-size + $gs-baseline/2
}

.oi-faq__header {
	position: relative;
	color: $colour-faq;
	min-height: $expandy-size;
	cursor: pointer;
	display: flex;
	align-items: center;
	h3 {
		font-size: $font-size-subtitle;
		font-family: $font-egyptian;
		line-height: 1.2;
		font-weight: bold;
		margin: 0;
		max-width: gs-span(3);
	}
	.oi-faq[open] & {
		color: $colour-faq-alt;
	}
	&:hover, &:focus {
		text-decoration: underline;
	}
	figure {
		content: '';
		box-sizing: border-box;
		width: $expandy-size;
		height: $expandy-size;
		position: absolute;
		top: $gs-baseline/2;
		left: $gs-baseline/2;
		border-radius: 100%;
		border: 1px solid $colour-faq;
		display: flex;
		align-items: center;
		justify-content: center;
		svg {
			position: absolute;
			margin: auto;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
		svg:nth-child(1) {
			transform: scale(1.25);
		}
		svg:nth-child(2) {
			transform: scale(.95);
		}
	}
	.oi-faq & figure {
		background-color: $colour-faq;
		svg * {
			fill: #fff;
		}
		svg:nth-child(1) {
			display: block;
		}
		svg:nth-child(2) {
			display: none;
		}
	}
	.oi-faq[open] & figure {
		background-color: transparent;
		border-color: $colour-faq-alt;
		svg * {
			fill: $colour-faq-alt;
		}
		svg:nth-child(1) {
			display: none;
		}
		svg:nth-child(2) {
			display: block;
		}
	}
}

.oi-faq__details {
	padding-top: 0;
	padding-bottom: $paragraph-spacing/2;
	color: $colour-text;
	transition: max-height .125s ease-in;
	overflow: hidden;
	& > * {
		margin-bottom: $paragraph-spacing;
	}
}

.oi-faq__footer {
	.oi-cta {
		margin-bottom: $gs-gutter/2;
		height: $gs-baseline * 3.5;
	}
	.oi-cta--paragraph {
		padding-left: 0;;
	}
	@media (min-width: $mq-collapse-columns) {
		display: flex;
		align-items: flex-start;
		.oi-cta {
			margin-bottom: 0;
			margin-right: $gs-gutter/2;
		}
	}
}

.oi-faq-more {
	position: relative;
	.oi-faq-more__content[aria-hidden=true] {
		display: block;
		position: absolute;
		left: -99999px;
		top: 0;
		transition: height .25s ease-in;
	}
	.oi-faq-more__content.oi-faq-more__content--reveal {
		position: static;
		overflow: hidden;
	}
}
