.oi-hero {
	overflow: hidden;
	background: $colour-neutral-1;
	border-bottom: 1px solid rgba(0,0,0,.25);
	contain: layout style paint
}

.oi-hero__wrapper {
	position: relative;
	.oi-hero__title {
		position: relative;
		z-index: 10;
		text-align: center;
		padding: 8em 0;
		margin: auto;
		h1 {
			margin: auto;
		}
	}
	.oi-hero__bg-container {
		position: absolute;
		z-index: 9;
		left: -150%;
		width: 400%;
		top: -4em;
		bottom: -4em;
		svg {
			height: 100%;
			display: block;
			margin: auto;
			width: 100%;
		}
	}
	@media (min-width: $mq-collapse-columns) {
		margin-left: gs-span(3) + $gs-gutter*2;
		.oi-hero__title {
			text-align: left;
			h1 {
				float: left;
			}
		}
		.oi-hero__bg-container {
			left: -54.5em;
			width: auto;
			svg {
				width: 1960px;
			}
		}
	}
}

.oi-hero__title {
	color: #fff;
	overflow: hidden;
	h1 {
		font-size: 4em;
		font-family: $font-egyptian;
		width: 4em;
		font-weight: 600;
		line-height: 1;
	}
}

@mixin transform-thing($id) {
	$timing: $id * 10s;
	will-change: transform;
	transform-origin: center center;
	animation: hero-ken-burns $timing cubic-bezier(.1,.49,.15,1) both;
 	> g {
		will-change: transform;
		animation: hero-ken-burns-backwards $timing cubic-bezier(.1,.49,.15,1) both;
		transform-origin: center center;
	}
}

.oi-hero {
	.__svg__-inner {
		@include transform-thing(2);
	}
	.__svg__-r1 {
		@include transform-thing(2);
	}
	.__svg__-r2 {
		@include transform-thing(3);
	}
	.__svg__-r3 {
		@include transform-thing(4);
	}
	.__svg__-r4 {
		@include transform-thing(5);
	}
	.__svg__-r5 {
		@include transform-thing(6);
	}
	.__svg__-r6 {
		@include transform-thing(7);
	}
	.__svg__-r7 {
		@include transform-thing(8);
	}
	.__svg__-r8 {
		@include transform-thing(9);
	}
}

@keyframes hero-ken-burns {
	0% {
		transform: scale(.9) rotate(8deg);
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes hero-ken-burns-backwards {
	0% {
		transform: scale(.5) rotate(-8deg);
	}
	100% {
		transform: scale(1);
	}
}
