.oi-hero {
	overflow: hidden;
	background: $colour-teal;
	width: 100%;
	position: relative;
	.gs-container {
		position: relative;
	}
}

.oi-hero__title {
	height: 200px;
	background: url(/public/assets/missing-mobile.svg) 0% 50% no-repeat;
	background-size: gs-span(3.5);
	margin-left: ($gs-gutter)!important;
	@media (min-width: $mq-collapse-columns+2em) {
		background-image: url(/public/assets/missing-desktop.svg);
		margin-left: ($gs-gutter / 3) + gs-span(3.5)!important;
		background-size: gs-span(5);
	}
	@media (min-width: $mq-wide) {
		background-size: gs-span(7);
	}
}
