.oi-hero {
	overflow: hidden;
	background: $colour-teal;
	contain: strict;
	width: 100%;
	height: 200px;
	position: relative;
	@media (min-width: $mq-tablet){
		height: 300px;
	}
	.gs-container {
		position: relative;
	}
}

.oi-hero__cta {
	position: absolute;
	top: 0;
	left: -5px;
	width: 90px;
	height: 100px;
	background: transparent url(/public/assets/support-cta.svg) no-repeat top center;
	background-size: contain;
	z-index: 999;
	@media (min-width: $mq-tablet){
		width: 120px;
	}
}

.oi-hero__wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	@media (min-width: $mq-tablet){
		transform: scale(.9);
	}
}

.oi-hero__title {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background: url(/public/assets/opt-in.gif) 50% 80% no-repeat;
	background-size: contain;
	@media (min-width: $mq-tablet){
		background-position: 50% 50%;
	}
}
