.oi-resend-widget {
	.oi-resend-widget__error {
		margin-top: $gs-baseline;
	}
	.oi-cta--paragraph {
		background: $colour-neutral-8;
		color: #fff;
	}
}

.oi-resend-widget__error {
	color: #e00000;
	font-size: $font-size-small;
	font-family: $font-serif;
	text-align: right;
}

.oi-resend-widget__hotdog {
	display: flex;
	.oi-cta:first-child:last-child {
		width: 100%;
		flex: 1 1 0;
	}
	.oi-cta:first-child:not(:last-child) {
		flex: 1 1 0;
		margin-right: -1px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.oi-cta:last-child:not(:first-child) {
		flex: 0 0 auto;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		padding-left: $gs-gutter/1.25;
	}
}
